/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');
*{font-family: 'Noto Sans KR', sans-serif;}

.subPageTit{font-size: 40px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.subPageInnerTit{font-size: 32px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.bigSentence{font-size: 24px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.bigSentence_bold{font-size: 24px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.midSentence{font-size: 20px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.midSentence_bold{font-size: 20px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.normalSentence{font-size: 16px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.normalSentence_bold{font-size: 16px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.smallSentence{font-size: 14px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.smallSentence_bold{font-size: 14px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.miniSentence{font-size: 12px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}

/* color */
:root{
    --darkgray : #888888;
    --lightgray : #cccccc;
    --lightbeige : #E2DFD4;
    --brickbeige : #CD9D87;
    --brickbeige_30 : rgba(205,157,135,.3);
    --darkkbeige : #B59E8F;
    --pink : #FAB7BE;
    --deeppink : #F0597D;
    --shadow : rgba(0,0,0,.15);
}

html, body{width: 100%; min-width: 1900px; min-height: 967px;}

/* mainWrap */
.main_Wrap{position: relative; width:100%; height:100%; min-width: 1900px;}

/* header */
header{width: 100%; min-width: 1900px; box-shadow: 0 3px 3px rgb(0 0 0 / 5%);}
header section{padding: 0 290px; width: 100%; min-width: 1320px; background-color: #fff;}

.skipnabList{position: relative; width: 100%; text-align: right;}
.skipnabList:before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: var(--lightgray);}
.skipnabList li{display: inline-block;}
.skipMenu{position: relative; margin: 0 5px; padding: 10px 0;}
.skipMenu:before{content: ''; position: absolute; top: 14px; right: -9px; width: 1px; height: 12px; background-color: var(--darkgray);}
.skipnabList li:last-child .skipMenu{margin-right: 0;}
.skipnabList li:last-child .skipMenu:before{opacity: 0;}

.hnav_Container{display: flex; justify-content: space-between;}
.hLogo_Box{padding: 10px 0;}
.hLogo{height: 40px;}
.hLogo img{width: auto; height: 100%;}
.Menu1DpList > li{position: relative; display: inline-block; margin-right: 20px;}
.Menu1DpList > li:last-child{margin-right: 0;}
.menu1Dp{padding: 20px;}
.joinBranch{padding: 10px 15px; color: #fff; background-color: var(--deeppink);}
.menu1Dp.hoverMenu:before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background-color: var(--deeppink); transition: .2s;}
.joinBranch:before{opacity: 0;}
.Menu2DpList{display: none; position: absolute; top: 62px; left: -30%; width: 160%; text-align: center;}
.Menu2DpList.block{display: inline-block;}
.menu2Dp{padding: 10px;}
.menu2Dp:hover{font-weight: bold;}

.hnavBg_Container{position: absolute; top: 102px; left: 0; z-index: -1; display: none; padding: 0; width: 100%; height: 360px;  background-color: #fff; box-shadow: 0 0 8px var(--shadow);}
.hnavBg_Container.bgOn{display: block;}

/* common container */
main{position: relative; z-index: 0; padding: 0 0 150px; width: 100%; min-width: 1320px;}
.subMain{min-height: calc(967px - 152px);}
.subCont_Container{padding: 80px 0; width: 100%;}
.subCont_Container > div{padding: 0 300px;}
.subCont_Container:first-child.subCont_Banner{padding: 0;}
.subCont_Container .subBanner_Box{padding: 80px 0; background: url(https://github.com/woojin966/__brand/blob/main/img/subTitleBg.jpg?raw=true) no-repeat 50%; background-size: cover; text-align: center;}
.subBanner_Box .subPageTit{position:relative;}
.subBanner_Box .subPageTit:before{content: ''; position: absolute; bottom: -20px; left: calc(50% - 20px); width: 40px; height: 5px; background-color: var(--pink);}
.subBanner_Box .bigSentence{margin-top: 40px; color: var(--darkgray);}
.subTab_Box{padding: 0 300px; background-color: var(--darkkbeige); }
.subTabList{display: flex;}
.subTabBtn{padding: 10px 15px; width: 100%; text-align: center; color: #fff;} 
.subTabBtn.currentTabBtn{font-weight: bold; color: var(--lightbeige);}
.subTabBtn span{position: relative; display: inline-block;}
.subTabBtn.currentTabBtn span:before{content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 3px; background-color: var(--lightbeige);}
.stabSubList{position: absolute; display: none; padding: 0 300px; min-width: 1903px; background-color: var(--lightbeige);}
.stabSubList.currebtTabList{display: flex;}
.stabSubBtn{padding: 10px; width: 100%; text-align: center;}
.stabSubBtn.currentsTabBtn{font-weight: bold; color: var(--darkkbeige);}
.stabSubBtn.currentsTabBtn span{position: relative; display: inline-block;}
.subCont_Container:nth-child(2){padding-top: 100px;}
.subCont_Container:last-child{padding-bottom: 0;}
.subListCont{display: none;}
.subListCont.currentListCont{display: block;}
.bchsubTabList_1{left: -300px;}
.bchsubTabList_2{left: -626px;}
.bchsubTabList_3{left: -952px;}
.bchsubTabList_4{left: -1277px;}
.branchTabList li{width: 25%;}
.bchsubTabList_1 li, .bchsubTabList_2 li{width: 10%;}
.bchsubTabList_3 li{width: 100%;}
.bchsubTabList_4 li{width: 33.3333%;}
.subTitle_Box{display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;}
.swiper-notification{display: none;}

/* footer */
footer{position: relative; z-index: 1;}
footer > section{padding: 0 300px; width: 100%; min-width: 1320px;}
.fQuickcontact_Container{position: relative; background-color: var(--lightbeige);}
.fqContactBtn_Box{position: absolute; right: 300px; top: -50px; z-index: -1; width: 100px; height: 100px; background-color: #E2DFD4; border-radius: 50%; text-align: center;}
.fqContactBtn_Box:before{content: ''; position: absolute; right: 0; bottom: 50px; width: 1300px; height: 1px; background-color: var(--lightbeige);}
.fqContactBtn_Box.move_Box{top: -25px; width: 50px; height: 50px;}
.fqContactBtn_Box.move_Box:before{width: 0; height: 0;}
.fqContactBtn{padding: 25px 0; width: 100%; height: 100%;}
.fqContactBtn:before{content: ''; position: absolute; top: 10px; left: calc(50% - 4px); width: 8px; height: 8px; border-top: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); transition: .4s;}
.fqContactBtn.on:before{transform: rotate(135deg); transition: .4s;}
.fqContact_Box{display: none; padding: 40px 0; justify-content: space-between; flex-wrap: wrap;}
.fqContact_Box.qContact_blk{ display: flex;}
.fqContact_Box > div{display: inline-block; margin-right: 20px;}
.fqContact_Box > .fqform_Box{width: calc(80% - 10px);}
.fqform_Box > form{display: flex; flex-wrap: wrap;}
.qcForm_Box{display: inline-block; margin-right: 10px; margin-bottom: 10px; width: calc(50% - 5px);}
.qcForm_Box:nth-child(2n){margin-right: 0;}
.qcForm_Box label{display: inline-block; width: 90px;}
.qcForm_Box input{display: inline-block; padding: 10px; width: calc(100% - 120px);}
.qcForm_Box select{display: inline-block; padding: 10px; width: calc(100% - 98px);}
.fqContact_Box > .fqSubmit_Box{width: 150px; margin-right: 0;}
.fqSubmitBtn{padding: 38px 0; width: 100%; text-align: center; background-color: var(--brickbeige); color: #fff;}
.fqContact_Box > .fqChk_Box{display: block; width: 100%;}
.fqChk_Box > div{display: inline-block;}
.chkLeft_Box{margin-right: 10px;}
.chkLeft_Box input, .chkRight_Box input[type="checkbox"]{display: none;}
.chkLeft_Box input[type="checkbox"] + label, .chkRight_Box input[type="checkbox"] + label{position: relative; display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: var(--brickbeige); cursor: pointer;}
.chkLeft_Box input[type="checkbox"] + label:after, .chkRight_Box input[type="checkbox"] + label:after{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(https://github.com/woojin966/__brand/blob/main/img/icon/icon_chk.png?raw=true) no-repeat top 10%  left 10%; background-size: 80%;}
.privacyBtn{font-weight: bold; text-decoration: underline;}

.fInfo_Container{padding-top: 40px; padding-bottom: 40px; display: flex; justify-content: space-between; background-color: #fff;}
.fInfo_Container > div{margin-right: 20px; height: 60px;}
.fiRmembership_Box{width: 200px;}
.Rmemberhip_Btn{position: relative;  width: 100%; height: 100%; background: url(https://github.com/woojin966/_sibal_brand/blob/main/img/ftlogo.png?raw=true) no-repeat 20% 75%; background-size: cover;}
.Rmemberhip_Btn:before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);}
.Rmemberhip_Btn:after{content: '가맹문의'; position: absolute; top: 0; left: 0; padding: 20px 0; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 16px; font-weight: bold; text-shadow: var(--shadow);}
.fiBranchinfo_Box{width: calc(100% - 536px); overflow: hidden;}
.fBranchName{margin-bottom: 5px;}
.fBranchinfo b{font-weight: bold;}
.fInfo_Container .fiLawCopy_Box{margin-right: 0;}
.fiLawList li{display: inline-block;}
.fiLawBtn{position: relative; margin: 0 5px;}
.fiLawBtn:before{content: ''; position: absolute; top: 4px; right: -9px; width: 1px; height: 12px; background-color: var(--darkgray);}
.fiLawList li:first-child .fiLawBtn{margin-left: 0;}
.fiLawList li:last-child .fiLawBtn{margin-right: 0;}
.fiLawList li:last-child .fiLawBtn:before{opacity: 0;}