/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');
*{font-family: 'Noto Sans KR', sans-serif;}

.subPageTit{font-size: 40px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.subPageInnerTit{font-size: 32px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.bigSentence{font-size: 24px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.bigSentence_bold{font-size: 24px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.midSentence{font-size: 20px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.midSentence_bold{font-size: 20px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.normalSentence{font-size: 16px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.normalSentence_bold{font-size: 16px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.smallSentence{font-size: 14px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
.smallSentence_bold{font-size: 14px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
.miniSentence{font-size: 12px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}

/* color */
:root{
    --darkgray : #888888;
    --lightgray : #cccccc;
    --lightbeige : #E2DFD4;
    --brickbeige : #CD9D87;
    --brickbeige_30 : rgba(205,157,135,.3);
    --darkkbeige : #B59E8F;
    --pink : #FAB7BE;
    --deeppink : #F0597D;
    --shadow : rgba(0,0,0,.15);
}

html, body{width: 100%; min-width: 1900px; min-height: 967px;}

/* mainWrap */
.main_Wrap{position: relative; width:100%; height:100%; min-width: 1900px;}

/* header */
header{width: 100%; min-width: 1900px; box-shadow: 0 3px 3px rgb(0 0 0 / 5%);}
header section{padding: 0 290px; width: 100%; min-width: 1320px; background-color: #fff;}
.ham_Container{display: none;}

.skipnabList{position: relative; width: 100%; text-align: right;}
.skipnabList:before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: var(--lightgray);}
.skipnabList li{display: inline-block;}
.skipMenu{position: relative; margin: 0 5px; padding: 10px 0;}
.skipMenu:before{content: ''; position: absolute; top: 14px; right: -9px; width: 1px; height: 12px; background-color: var(--darkgray);}
.skipnabList li:last-child .skipMenu{margin-right: 0;}
.skipnabList li:last-child .skipMenu:before{opacity: 0;}

.hnav_Container{display: flex; justify-content: space-between;}
.hLogo_Box{padding: 10px 0;}
.hLogo{height: 40px;}
.hLogo img{width: auto; height: 100%;}
.Menu1DpList > li{position: relative; display: inline-block; margin-right: 20px;}
.Menu1DpList > li:last-child{margin-right: 0;}
.Menu1DpList > .MjoinBranchLi{display: none;}
.Menu1DpList > .WjoinBranchLi{display: inline-block;}
.menu1Dp{padding: 20px;}
.joinBranch{padding: 10px 15px; color: #fff; background-color: var(--deeppink);}
.menu1Dp.hoverMenu:before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background-color: var(--deeppink); transition: .2s;}
.joinBranch:before{opacity: 0;}
.Menu2DpList{display: none; position: absolute; top: 62px; left: -30%; width: 160%; text-align: center;}
.Menu2DpList.block{display: inline-block;}
.menu2Dp{padding: 10px;}
.menu2Dp:hover{font-weight: bold;}

.hnavBg_Container{position: absolute; top: 102px; left: 0; z-index: -1; display: none; padding: 0; width: 100%; height: 360px;  background-color: #fff; box-shadow: 0 0 8px var(--shadow);}
.hnavBg_Container.bgOn{display: block;}

/* common container */
main{position: relative; z-index: 0; padding: 0 0 150px; width: 100%; min-width: 1320px;}
.subMain{min-height: calc(967px - 152px);}
.subCont_Container{padding: 80px 0; width: 100%;}
.subCont_Container > div{padding: 0 300px;}
.subCont_Container:first-child.subCont_Banner{padding: 0;}
.subCont_Container .subBanner_Box{padding: 80px 0; background: url(https://github.com/woojin966/__brand/blob/main/img/subTitleBg.jpg?raw=true) no-repeat 50%; background-size: cover; text-align: center;}
.subBanner_Box .subPageTit{position:relative;}
.subBanner_Box .subPageTit:before{content: ''; position: absolute; bottom: -20px; left: calc(50% - 20px); width: 40px; height: 5px; background-color: var(--pink);}
.subBanner_Box .bigSentence{margin-top: 40px; color: var(--darkgray);}
.subTab_Box{padding: 0 300px; background-color: var(--darkkbeige); }
.subTabList{display: flex;}
.subTabBtn{padding: 10px 15px; width: 100%; text-align: center; color: #fff;} 
.subTabBtn.currentTabBtn{font-weight: bold; color: var(--lightbeige);}
.subTabBtn span{position: relative; display: inline-block;}
.subTabBtn.currentTabBtn span:before{content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 3px; background-color: var(--lightbeige);}
.stabSubList{position: absolute; display: none; padding: 0 300px; min-width: 1903px; background-color: var(--lightbeige);}
.stabSubList.currebtTabList{display: flex;}
.stabSubBtn{padding: 10px; width: 100%; text-align: center;}
.stabSubBtn.currentsTabBtn{font-weight: bold; color: var(--darkkbeige);}
.stabSubBtn.currentsTabBtn span{position: relative; display: inline-block;}
.subCont_Container:nth-child(2){padding-top: 100px;}
.subCont_Container:last-child{padding-bottom: 0;}
.subListCont{display: none;}
.subListCont.currentListCont{display: block;}
.bchsubTabList_1{left: -300px;}
.bchsubTabList_2{left: -626px;}
.bchsubTabList_3{left: -952px;}
.bchsubTabList_4{left: -1277px;}
.branchTabList li{width: 25%;}
.bchsubTabList_1 li, .bchsubTabList_2 li{width: 10%;}
.bchsubTabList_3 li{width: 100%;}
.bchsubTabList_4 li{width: 33.3333%;}
.subTitle_Box{display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;}
.swiper-notification{display: none;}

/* footer */
footer{padding-bottom: 0; background-color: #fff;}
footer{position: relative; z-index: 1;}
footer > section{padding: 0 300px; width: 100%; min-width: 1320px;}
.fQuickcontact_Container{position: relative; background-color: var(--lightbeige);}
.fqContactBtn_Box{position: absolute; right: 300px; top: -50px; z-index: -1; display: block; width: 100px; height: 100px; background-color: #E2DFD4; border-radius: 50%; text-align: center;}
.MfqContactBtn_Box{display: none;}
/* .fQuickcontact_Container:before{content: ''; position: absolute; right: 0; bottom: 50px; width: 1300px; height: 1px; background-color: var(--lightbeige);} */
.fQuickHorizonbar{position: absolute; right: 300px; bottom: 0; display: block; width: 1300px; height: 1px; background-color: var(--lightbeige);}
.fqContactBtn_Box.move_Box{top: -25px; width: 50px; height: 50px;}
.fqContactBtn_Box.move_Box:before{width: 0; height: 0;}
.fqContactBtn{padding: 25px 0; width: 100%; height: 100%;}
.fqContactBtn:before{content: ''; position: absolute; top: 10px; left: calc(50% - 4px); display: block; width: 8px; height: 8px; border-top: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); transition: .4s;}
.fqContactBtn.on:before{transform: rotate(135deg); transition: .4s;}
.fqContact_Box{display: none; padding: 40px 0; justify-content: space-between; flex-wrap: wrap;}
.fqContact_Box.qContact_blk{ display: block;}
.fqContact_Box > .Mfkakao_Box{display: none;}
.fqform_Box > form{display: inline-block; width: 89%; vertical-align: top;}
.qcForm_Box{display: inline-block; margin-right: 10px; margin-bottom: 10px; width: calc(50% - 10px);}
.qcForm_Box:nth-child(2n){margin-right: 0;}
.qcForm_Box label{display: inline-block; width: 90px;}
.qcForm_Box input{display: inline-block; padding: 10px; width: calc(100% - 120px);}
.qcForm_Box select{display: inline-block; padding: 10px; width: calc(100% - 98px);}
.fqSubmit_Box{display: inline-block; width: 10%;}
.fqSubmitBtn{padding: 36px 0; width: 100%; text-align: center; background-color: var(--brickbeige); color: #fff;}
.fqChk_Box{display: block; margin-top: 0; width: 100%;}
.fqChk_Box > div{display: inline-block;}
.chkLeft_Box{margin-right: 10px; margin-bottom: 0;}
.chkLeft_Box input, .chkRight_Box input[type="checkbox"]{display: none;}
.chkLeft_Box input[type="checkbox"] + label, .chkRight_Box input[type="checkbox"] + label{position: relative; display: inline-block; vertical-align: middle; width: 20px; height: 20px; background-color: var(--brickbeige); cursor: pointer;}
.chkLeft_Box input[type="checkbox"] + label:after, .chkRight_Box input[type="checkbox"] + label:after{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(https://github.com/woojin966/__brand/blob/main/img/icon/icon_chk.png?raw=true) no-repeat top 10%  left 10%; background-size: 80%;}
.privacyBtn{font-weight: bold; text-decoration: underline;}

.fInfo_Container{padding-top: 40px; padding-bottom: 40px; display: flex; justify-content: space-between; background-color: #fff;}
.fInfo_Container > div{margin-right: 20px; height: 60px;}
.fiRmembership_Box{width: 200px;}
.Rmemberhip_Btn{position: relative;  width: 100%; height: 100%; background: url(https://github.com/woojin966/_sibal_brand/blob/main/img/ftlogo.png?raw=true) no-repeat 20% 75%; background-size: cover;}
.Rmemberhip_Btn:before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);}
.Rmemberhip_Btn:after{content: '가맹문의'; position: absolute; top: 0; left: 0; padding: 20px 0; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 16px; font-weight: bold; text-shadow: var(--shadow);}
.fiBranchinfo_Box{width: calc(100% - 536px); overflow: hidden;}
.fBranchName{margin-bottom: 5px;}
.fBranchinfo b{font-weight: bold;}
.fBranchinfo br{display: none;}
.fBranchinfo br.wBr_block{display: block;}
.fInfo_Container .fiLawCopy_Box{margin-right: 0;}
.fiLawList li{display: inline-block;}
.fiLawBtn{position: relative; margin: 0 5px;}
.fiLawBtn:before{content: ''; position: absolute; top: 4px; right: -9px; width: 1px; height: 12px; background-color: var(--darkgray);}
.fiLawList li:first-child .fiLawBtn{margin-left: 0;}
.fiLawList li:last-child .fiLawBtn{margin-right: 0;}
.fiLawList li:last-child .fiLawBtn:before{opacity: 0;}

/* mibile */
@media (min-width: 360px) and (max-width: 1199px) {
    .subPageTit{font-size: 32px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .subPageInnerTit{font-size: 24px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .bigSentence{font-size: 18px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
    .bigSentence_bold{font-size: 18px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .midSentence{font-size: 16px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
    .midSentence_bold{font-size: 16px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .normalSentence{font-size: 14px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
    .normalSentence_bold{font-size: 14px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .smallSentence{font-size: 12px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}
    .smallSentence_bold{font-size: 12px; font-weight: bold; line-height: 1.5; letter-spacing: -1px;}
    .miniSentence{font-size: 10px; font-weight: normal; line-height: 1.5; letter-spacing: -1px;}

    html, body{width: 100%; min-width: 100%; min-height: 100vh; overflow-x: hidden;}

    /* mainWrap */
    .main_Wrap{position: relative; width:100%; height:100%; min-width: 100%;}

    /* header */
    header{display: flex; flex-wrap: wrap; width: 100%; min-width: 100%;}
    header section{padding: 0 17px; width: 100%; min-width: 100%; background-color: #fff;}
    .ham_Container{position:fixed; top: 0; left: 0; display: flex; order: 1; z-index: 3; padding-top: 10px; padding-bottom: 10px; justify-content: space-between;}
    .MhLogo{width: 135px; height: 30px;}
    .MhLogo img{width: auto; height: 100%;}
    .hamBtn{padding: 3px 0; width: 30px; height: 30px;}
    .hamBtn span{content: ''; position: absolute; width: 100%; height: 2px; background-color: #000;}
    .hamBtn span:nth-child(2){top: calc(50% - 2px);}
    .hamBtn span:nth-child(3){bottom: 3px;}
    .actHam span:nth-child(1){top: 15px; transform: rotate(45deg); transition: .4s;}
    .actHam span:nth-child(2){opacity: 0; transition: .4s;}
    .actHam span:nth-child(3){bottom: 13px; transform: rotate(-45deg); transition: .4s;}

    .hnav_Container{order: 2; z-index: 2; display: none; padding: 0; padding-top: 52px; border-top: 1px solid var(--lightgray); overflow-y: scroll;}
    .hnav_Container.hSecBlock{display: block;}
    .hnav_Container .hLogo_Box{display: none;}
    .Menu1DpList > li{display: block; border-bottom: 1px solid var(--lightgray); margin-right: 0;}
    .Menu1DpList > .MjoinBranchLi{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #000;}
    .Menu1DpList > .WjoinBranchLi{display: none;}
    .hMenu_Navigator{width: 100%;}
    .M_menu1Dp{position: relative; padding: 16px 17px; width: 100%;}
    .M_menu1Dp:before{content: ''; position: absolute; top: 16px; right: 17px; width: 10px; height: 10px; border-top: 1px solid var(--darkgray); border-right: 1px solid var(--darkgray); transform: rotate(135deg); transition: .4s;}
    .actMenu:before{transform: rotate(-45deg); transition: .4s;}
    .M_Menu2DpList{display: none; border-top: 1px solid var(--lightgray);}
    .M_Menu2DpList .menu2Dp{width: 100%; padding: 10px 17px; background-color: rgba(0,0,0,.15); border-bottom: 1px solid #fff;}
    .M_Menu2DpList li:last-child .menu2Dp{border-bottom: none;}
    .subUlBlock{display: block;}
    .joinBranch{padding: 16px 17px; background-color: #fff; color: #000;}
    .joinBranch:before{display: none;}
    .MjoinBranchLi span{padding-right: 17px;}

    .hskipnav_Container{order: 3; z-index: 2; display: none;}
    .hskipnav_Container.hSecBlock{display: block;}
    .skipnabList:before{display: none;}

    .hnavBg_Container{top: 0; left: 0; display: none; width: 100%; height: 100vh; z-index: 1;}
    .hnavBg_Container.hSecBlock{display: block;}

    main{position: relative; z-index: 0; padding: 0 0 60px; width: 100%; min-width: 100%;}
    .subCont_Container{padding: 60px 0;}
    .subCont_Container:nth-child(2){padding-top: 60px;}
    .subCont_Container > div{padding: 0 17px;}

    footer{padding-bottom: 65px; background-color: var(--lightbeige);} 
    footer > section{padding: 0 17px; width: 100%; min-width: 100%;}
    .fInfo_Container{flex-direction: column; padding-top: 20px; padding-bottom: 20px; background-color: var(--lightbeige);}
    .fInfo_Container > div{margin-right: 0; width: 100%;}
    .fInfo_Container > .fiRmembership_Box{width: 100%; height: 50px;}
    .Rmemberhip_Btn{height: 50px; background: url(https://github.com/woojin966/_sibal_brand/blob/main/img/ftlogo.png?raw=true) no-repeat 26% 71%;}
    .Rmemberhip_Btn:after{padding: 15px 0 0; height: auto; font-size: 14px;}
    .fInfo_Container > .fiBranchinfo_Box{margin-top: 10px; margin-bottom: 10px; height: 85px; text-align: center;}
    .fBranchinfo br{display: block;}
    .fInfo_Container > .fiLawCopy_Box{height: auto; text-align: center;}
    /* .fBranchinfo br.wBr_block{display: block;} */
    .fQuickcontact_Container{padding: 0; background-color: transparent;}
    .fQuickHorizonbar{display: none;}
    .fqContactBtn_Box {display: none;}
    .fqContactBtn:before{display: none;}
    .MfqContactBtn_Box{position: fixed; bottom: -1px; left: 0; z-index: 2; display: flex; padding: 10px 17px; width: 100%; align-items: center; background-color: rgba(255,255,255,.8); border-radius: 15px 15px 0 0; border: 1px solid #fff;}
    .MqBtnBox_none{display: none;}
    .MfqContactBtn_Box a{width: calc(50% - 5px); padding: 10px; text-align: center; background: #fff; border: 1px solid var(--deeppink); border-radius: 42px; box-shadow: 0 0 5px rgb(0 0 0 / 15%);}
    .fqkakaoBtn{display: inline-block; margin: 0 5px 0 0;}
    .mfqContactBtn{display: inline-block; margin: 0 0 0 5px;}
    .fqCloseBtn{display: block; position: absolute; top: -40px; left: calc(50% - 40px); width: 80px; height: 20px; border-radius: 10px 10px 0 0; background-color: rgba(255,255,255,.95);}
    .fqCloseBtn:before{content: ''; position: absolute; top: 8px; left: calc(50% - 4px); width: 8px; height: 8px; border-top: 1px solid #000; border-right: 1px solid #000; transform: rotate(135deg);}

    .MqContactBox_block{display: block; position: fixed; bottom: -1px; padding: 20px 17px; background-color: rgba(255,255,255,.95);width: 100%; z-index: 2;}
    .fqContact_Box > div{display: none;}
    .fqContact_Box > .fqcontentblock{display: block;}
    /* .fqContact_Box > .fqform_block{display: block;} */
    .fqTitle_Box{margin-bottom: 10px;}
    .fqform_Box > form{display: block; width: 100%;}
    .qcForm_Box{display: flex; align-items: center; margin-right: 0; width: 100%;}
    .qcForm_Box label{width: 20%;}
    .qcForm_Box select, .qcForm_Box input{width: 80%;}
    .fqSubmit_Box{display: block; width: 100%;}
    .fqSubmitBtn{padding: 10px 0;}
    .fqChk_Box{margin-top: 10px;}
    .chkLeft_Box{margin-right: 0; margin-bottom: 5px;}
    .chkLeft_Box input[type="checkbox"] + label, .chkRight_Box input[type="checkbox"] + label{width: 15px; height: 15px;}
    .chkName{letter-spacing: -1.5px;}
    .Mfkakao_Box .swiper-slide{display: flex; flex-wrap: wrap;}
    .branchKakaoList_title{margin-bottom: 10px; width: 100%; text-align: center;}
    .branchMfBtn{width: calc(25% - 8px); margin-right: 10px; margin-bottom: 10px; padding: 10px 0; background-color: #fff; border: 1px solid var(--brickbeige); box-shadow: 0 0 3px rgba(0,0,0,.15); border-radius: 10px; text-align: center;}
    .branchMfBtn:nth-child(5), .branchMfBtn:nth-child(9), .branchMfBtn:last-child{margin-right: 0;}
    .branchMfBtn img{display: inline; width: 30px; height: 30px; margin-bottom: 5px;}
    .branchMfBtn span{display: block; letter-spacing: -2px;}
    .swiper-button-next, .swiper-button-prev{top: 28px; width: 12px; height: 12px;}
    .swiper-button-next:after{content: ''; width: 100%; height: 100%; border-top: 1px solid #000; border-right: 1px solid #000; transform: rotate(45deg);}
    .swiper-button-prev:after{content: ''; width: 100%; height: 100%; border-top: 1px solid #000; border-left: 1px solid #000; transform: rotate(-45deg);}
}