main{padding: 0;}
.homeMain_Container1{height: 550px;}
.homeMain_Container2{padding: 0 300px 40px; background-color: var(--pink);}
.branchTabList{display: flex; justify-content: space-between;}
.branchTabList li{display: inline-block; width: 25%;}
.branchTab{padding: 20px; width: 100%; height: 100%; text-align: center;}
.branchBtn_Box{padding: 20px 0 0;}
.branchTabCont{display: none; justify-content: space-between; flex-wrap: wrap;}
.branchTabCont.currentTabCont{display: flex;}
.branchTabCont li{width: calc(20% - 20px); margin-right: 20px; margin-bottom: 20px;}
.branchTabCont li:nth-child(5n){margin-right: 0;}
.branchTabCont li:nth-child(6), .branchTabCont li:nth-child(7), .branchTabCont li:nth-child(8), .branchTabCont li:nth-child(9), .branchTabCont li:nth-child(10){margin-bottom: 0;}
.branchBtn{position: relative; padding: 16px; width: 100%; background-color: #fff; border: 1px solid var(--darkgray);}
.branchBtn:before{content: ''; position: absolute; top: calc(50% - 5px); right: 20px; width: 10px; height: 10px; border-top: 2px solid #000; border-right: 2px solid #000; transform: rotate(45deg);}

.fQuickcontact_Container{display: none;}
.fInfo_Container{position: relative; background-color: var(--pink);}
.fInfo_Container:before{content: ''; position: absolute; top: 0; left: 300px; width: 1300px; height: 1px; background-color: #fff;}

.fiLawBtn:before{background-color: #fff;}